* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #000, #222);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    text-align: center;
}

.auth-box h2 {
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background: orange;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.auth-box p {
    margin-top: 15px;
    font-size: 14px;
}

.auth-box a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}
