/*General Page Styling*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7f5;
    color: #222;
}

/* Headings */
h1 {
    text-align: center;
    color: #1e7e34;
}

h2 {
    color: #1e7e34;
    margin-top: 30px;
}

/* Navigation Bar*/
nav {
    background-color: #000;
    padding: 12px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    color: #1e7e34;
}

/* Sections */
section {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

/* Forms (Login & Register)*/
form {
    width: 320px;
    margin: 40px auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 6px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e7e34;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #155d27;
}

/* Links*/
a {
    color: #1e7e34;
}

a:hover {
    text-decoration: underline;
}

/* Footer*/
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 8px 0;
    }

    form {
        width: 90%;
    }
}
